larosaFULLproject/n8n/workflow-larosa.json
{
  "name": "La Rosa Fleuriste — Notification nouvelles commandes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "larosa-commande",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "9c1f0001-0000-4000-8000-000000000001",
      "name": "Webhook Nouvelle Commande",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "larosa-commande"
    },
    {
      "parameters": {
        "chatId": "REMPLACEZ_PAR_VOTRE_CHAT_ID",
        "text": "={{ $json.body.text }}",
        "additionalFields": {}
      },
      "id": "9c1f0001-0000-4000-8000-000000000002",
      "name": "Telegram — Alerte propriétaire",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [280, -100],
      "credentials": {
        "telegramApi": {
          "id": "REMPLACEZ",
          "name": "Compte Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "REMPLACEZ_PAR_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "REMPLACEZ_PAR_NUMERO_PROPRIETAIRE",
        "textBody": "={{ $json.body.text }}",
        "additionalFields": {}
      },
      "id": "9c1f0001-0000-4000-8000-000000000003",
      "name": "WhatsApp — Alerte propriétaire",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [280, 100],
      "credentials": {
        "whatsAppApi": {
          "id": "REMPLACEZ",
          "name": "WhatsApp Business Cloud"
        }
      }
    }
  ],
  "connections": {
    "Webhook Nouvelle Commande": {
      "main": [
        [
          { "node": "Telegram — Alerte propriétaire", "type": "main", "index": 0 },
          { "node": "WhatsApp — Alerte propriétaire", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
